@{ 
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Delete Desk Quote";

    var desk_quote_id = "";
    var customer_name = "";
    var width = 0;
    var depth = 0;
    var num_drawers = 0;
    var material = "";
    var rush_order = 0;
    var total_cost = 0.0;
    var date_added = new DateTime();

    if (!IsPost)
    {
        if(!Request.QueryString["id"].IsEmpty())
        {
            desk_quote_id = Request.QueryString["id"];
            Console.WriteLine(desk_quote_id);
            var db = Database.Open("MegaDesk");
            var dbCommand = "SELECT customer_name, width, depth, num_drawers, material, rush_order, total_cost, date_added FROM Desk_Quotes WHERE desk_quote_id = @0";
            var row = db.QuerySingle(dbCommand, desk_quote_id);
            customer_name = row.customer_name;
            width = row.width;
            depth = row.depth;
            num_drawers = row.num_drawers;
            material = row.material;
            rush_order = row.rush_order;
            total_cost = row.total_cost;
            date_added = row.date_added;
        }
        else
        {
            Response.Redirect("~/index");
        }
    }

    if(IsPost && !Request["quoteDelete"].IsEmpty())
    {
        desk_quote_id = Request.Form["desk_quote_id"];
        var db = Database.Open("MegaDesk");
        var deleteCommand = "Delete FROM Desk_Quotes WHERE desk_quote_id = @0";
        db.Execute(deleteCommand, desk_quote_id);
        Response.Redirect("~/searchQuotes");
    }
}

<form id="delete_desk_quote" method="post">
    <input id="desk_quote_id" type="hidden" name="desk_quote_id" value="@desk_quote_id" />
    <label>Name:</label>
    <span>@customer_name</span><br />
    <label>Width:</label>
    <span>@width</span><br />
    <label>Depth:</label>
    <span>@depth</span><br />
    <label>Number of Drawers:</label>
    <span>@num_drawers</span><br />
    <label>Material:</label>
    <span>@material</span><br />
    <label>Rush Order:</label>
    <span>@rush_order</span><br />
    <label>Total Cost:</label>
    <span>$@total_cost</span><br />
    <label>Date Ordered:</label>
    <span>@date_added</span><br />
    <input id="quoteDelete" type="submit" name="quoteDelete" value="Delete" />
    <input id="deleteCancel" type="submit" value="Cancel" formaction="~/searchQuotes" />
</form>